*{ margin: 0; padding: 0; box-sizing: border-box; font-family: 'Montserrat', sans-serif; scroll-behavior: smooth;}

.site-headers {
    background-image: url("images/background.png");
    background-position: top;
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
}
nav{
    width: 100%; height: 100px; background: rgb(25, 133, 109); display: flex; color: white; position: fixed; z-index: 15;
}
.logo { width: 50%; height: 100px; letter-spacing: 5px; }

.logo h1{ line-height: 100px; padding-left: 55px;}

.menu { width: 50%; height: 100px; }

.menu ul { width: 100%; height: 100px; display: flex; flex-direction: row; justify-content: space-around; align-items: center;}

.menu ul li { list-style: none; font-size: 15px; font-weight: bold; letter-spacing: 2px;}

.menu ul li a { text-decoration: none; color: white;}

.menu ul li :hover { color: black; transition: 0.4s ease;}

section { display: flex; padding-bottom: 100px; }

.leftside { width: 50%; height: auto; overflow: hidden; margin-top: 100px; }

.leftside img { width: 325px; height: 328px; margin-left: 30px; margin-top: 110px; border-radius: 100%; box-shadow: 5px 5px 15px rgba(0,0,0,0.9);}

.rightside { width: 48%; height: 450px; color: black; text-align: center; margin-top: 160px; padding: 40px; padding-top: 50px; background: white; opacity: 77%; border-radius: 50px; border-style: solid; box-shadow: 5px 5px 15px rgba(0,0,0,0.9);}

.rightside h1 { font-size: 50px; font-weight: 900; margin-left: 20px; letter-spacing: 3px;}

.rightside p { font-size: 1.2rem; padding: 30px 0; margin-left: 20px;}

.rightside button { font-size: 17px; font-weight: bold; border-color: black; margin-left: 20px; color: black; background: transparent; border-radius: 40px; padding: 12px 18px; }

.rightside button:hover { color: white; background: rgb(25, 133, 109); transition: 0.4s ease; }

.card {
    padding-bottom: 100px;
    display: grid;
    grid-template-columns: 300px;
    grid-template-rows: 210px 210px 80px;
    grid-template-areas: "image" "text";
    border-style: solid;
    border-radius: 18px;
    background: white;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.9);
    text-align: center;
    transition: 0.5s ease;
    cursor: pointer;
    margin-top: 120px;    
    margin-bottom: 50px;    
    margin-right: 90px;    
    opacity: 91%;
}

.card-image1 {
    grid-area: image;
    background: url("images/vintage.jpg");
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-size: cover;
}

.card-image2 {
    grid-area: image;
    background: url("images/quiz.jpg");
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-size: cover;
}

.card-image3 {
    grid-area: image;
    background: url("images/magic.jpg");
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-size: cover;
}

.card-text {
    grid-area: text;
    margin: 25px;
}

.card-text button { font-size: 15px; font-weight: bold; border-color: black; color: white; background: rgb(25, 133, 109); border-radius: 30px; padding: 12px 18px; }

.card:hover {
    transform: scale(1.15);
    box-shadow: 5px 5px 15px rgba(0,0,0,0.6);
  }

  .quiz {
    padding-bottom: 80px;
    display: grid;
    grid-template-columns: 370px;
    grid-template-rows: 210px 210px 80px;
    grid-template-areas: "image" "text";
    border-style: solid;
    border-radius: 18px;
    background: white;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.9);
    text-align: center;
    transition: 0.5s ease;
    cursor: pointer;
    margin-top: 120px;    
    margin-bottom: 50px;    
    margin-right: 150px;
    margin-left: 50px;
    opacity: 91%;
}

.quiz-image1 {
    grid-area: image;
    background: url("https://cdn.newslanded.com/wp-content/uploads/2020/08/b4ERr2LQcbAMctgTpJVA2B-1200-80-1068x601.jpg");
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-size: cover;
}
.quiz-image2 {
    grid-area: image;
    background: url("images/strangerthings.jpg");
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-size: cover;
}
.quiz-image3 {
    grid-area: image;
    background: url("https://media.istockphoto.com/photos/closeup-of-red-cricket-ball-and-bat-sitting-on-grass-picture-id177427917?k=6&m=177427917&s=612x612&w=0&h=-q2U1BYuDKX2qQa7DcwTQ6PhkJifJcuuwo1HlpCjfC8=");
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-size: cover;
}
.quiz-image4 {
    grid-area: image;
    background: url("https://images.unsplash.com/photo-1587329310686-91414b8e3cb7?ixlib=rb-1.2.1&auto=format&fit=crop&w=1051&q=80");
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-size: cover;
}

.quiz-text {
    grid-area: text;
    margin: 25px;
}

.quiz-text button { font-size: 15px; font-weight: bold; border-color: black; color: white; background: rgb(25, 133, 109); border-radius: 30px; padding: 12px 18px; }

.quiz:hover {
    transform: scale(1.15);
    box-shadow: 5px 5px 15px rgba(0,0,0,0.6);
  }
  
  .round-head h2 { margin-left: 50%; background: rgb(25, 133, 109); padding: 18px; margin-bottom: 80px; width: 100%; color: white; border-radius: 25px; letter-spacing: 2px;}

  .quiz-head h2 { margin-left: 50%; background: rgb(25, 133, 109); padding: 18px; margin-bottom: 20px; width: 100%; color: white; border-radius: 25px; letter-spacing: 2px;}

  .sports-head h2{ margin-left: 50%; background: rgb(25, 133, 109); padding: 18px; margin-bottom: 20px; width: 100%; color: white; border-radius: 25px; letter-spacing: 2px;}

  .footer { 
      background-image: url("http://cvitanic.info/wp-content/uploads/2016/05/Footer-background.jpg");
      height: 275px;
      width: 100%;
      color: white;
      position: relative;
      padding: 20px;
  }

  .footer-bottom {
      text-align: center;
      height: 40px;
      width: 100%;
      position: absolute;
      bottom: 0px;
      left: 0px;
      padding-top: 8px;
      background: rgb(51, 47, 56);
  }

  .footer-content h2 { margin-left: 30px; letter-spacing: 4px; font-size: 1.8rem;}

  .footer-content p {
      text-align: center;
  }

   .contacts { 
      display: block;
      text-align: center;
      font-size: 1em;
      margin-bottom: 1px;
  }

  .links {
      text-align: center;
      font-size: 25px;
      word-spacing: 15px;
  }

  .fa {
    padding: 10px;
    font-size: 50px;
    text-decoration: none;
    color: white;
  }
